<app-person-toolbar [item]="currentPerson.name"></app-person-toolbar>

<div class="grid justify-center mt-4 gap-2">
  <div class="card card-compact  bg-base-100 shadow-2xl shadow-black">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">Crud de <span class="text-primary">personas</span> </h2>
      <div class="grid ">
        <label for="">Nombre:</label>
        <input class="input input-primary  mb-2" type="text" placeholder="Ejemplo: Pedro"
          [(ngModel)]="currentPerson.name">
        <label for="">Identificación:</label>
        <input class="input input-primary" type="text" placeholder="Ejemplo: 17568899999"
          [(ngModel)]="currentPerson.dni">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked />
            <span class="label-text ml-4">Activo</span>
          </label>
        </div>
        <app-city-combobox [idInput]="currentPerson.cityId" (currentCityId)="currentPerson.cityId = $event">
        </app-city-combobox>
      </div>

      <div class="divider my-0">
      </div>

      <div class="overflow-x-auto">
        <table class="table table-compact w-full">
          <thead>
            <tr>
              <th>Permiso</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let auth of currentPerson.authorities">
              <td>{{auth.name}}</td>
              <td>Eliminar</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="divider my-0">
      </div>

      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-secondary btn-sm">Cancelar</button>
      </div>
    </div>
  </div>

</div>