<ul class="menu menu-compact bg-gradient-to-b from-blue-700 to-sky-500 text-white w-56 p-2 rounded font-bold ">
    <div class="menu-title">
        <svg class="h-6 w-6 inline" fill="white" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M13,3V1a1,1,0,0,0-2,0V3a7.008,7.008,0,0,0-7,7v6a8,8,0,0,0,16,0V10A7.008,7.008,0,0,0,13,3Zm5,13A6,6,0,0,1,6,16V10a5.006,5.006,0,0,1,5-5h2a5.006,5.006,0,0,1,5,5Z"/><path d="M12,7a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V8A1,1,0,0,0,12,7Z"/></svg>
      Matricula
    </div>
    <div class="pl-5">
        <li><a routerLink="person-list" >Person</a></li>
        <li><a routerLink="authority-list">Persmisos</a></li>
        <li><a>Asignatura</a></li>
        <li><a>Matricula</a></li>
        <li><a>Kanban</a></li>
        <li><a>Reporte</a></li>
    </div>
 

    <li class="menu-title">
      Marketing
    </li>
    <li><a>Campaña</a></li>
    <li><a>Productos</a></li>
  </ul>