<div class="grid justify-center mt-4">
  <div class="card card-compact w-96 bg-base-100 shadow-2xl shadow-black">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">Crud de <span class="text-primary">personas</span> </h2>
      <div class="grid ">
        <label for="">Nombre:</label>
        <input class="input input-primary  mb-2" type="text" placeholder="Ejemplo: Pedro">
        <label for="">Identificación:</label>
        <input class="input input-primary" type="text" placeholder="Ejemplo: 17568899999">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked />
            <span class="label-text ml-4">Activo</span>
            
          </label>
        </div>      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-sm">Guardar</button>
        <button class="btn btn-secondary btn-sm">Cancelar</button>
      </div>
    </div>
  </div>
</div>
