<div class="grid justify-center mt-4 gap-2" >
  <div class="card card-compact  bg-base-100 shadow-2xl shadow-black" >
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">Crud de <span class="text-primary">personas</span> </h2>
      <div class="grid ">
        <label for="">Nombre:</label>
        <input class="input input-primary  mb-2" type="text" placeholder="Ejemplo: Pedro" [(ngModel)]="currentPerson.name">
        <label for="">Identificación:</label>
        <input class="input input-primary" type="text" placeholder="Ejemplo: 17568899999" [(ngModel)]="currentPerson.dni">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked />
            <span class="label-text ml-4">Activo</span>
            
          </label>
        </div>      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-sm" (click)="save()" >Guardar</button>
        <button class="btn btn-secondary btn-sm">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="card card-compact bg-red-200 shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title">Zona  de peligro</div>
    </div>
    <p class="text-xs p-4" >Recuerde que luego de la eliminación no podrá recuperar la data</p>
    <div class="card-actions justify-end ">
      <button class="btn btn-warning btn-sm m-4" (click)="delete()" >Eliminar</button>
    </div>
  </div>
</div>
